/* ie.css */
body {text-align:center;}
.container {text-align:left;}
* html .column, * html div.span-1, * html div.span-2, * html div.span-3, * html div.span-4, * html div.span-5, * html div.span-6, * html div.span-7, * html div.span-8, * html div.span-9, * html div.span-10, * html div.span-11, * html div.span-12, * html div.span-13, * html div.span-14, * html div.span-15, * html div.span-16, * html div.span-17, * html div.span-18, * html div.span-19, * html div.span-20, * html div.span-21, * html div.span-22, * html div.span-23, * html div.span-24 {overflow-x:hidden;}
* html legend {margin:0px -8px 16px 0;padding:0;}
ol {margin-left:2em;}
sup {vertical-align:text-top;}
sub {vertical-align:text-bottom;}
html>body p code {*white-space:normal;}
hr {margin:-8px auto 11px;}
.clearfix, .container {display:inline-block;}
* html .clearfix, * html .container {height:1%;}
fieldset {padding-top:0;}
.col-r {display:inline-block;float:none;}
.container-bottom {position:relative;top:-2px!important;}
.explore-page .container {display: block;}
html>body .results-col-1 {*width:112px;}

/* IE fixes for registration page */
.reg-col-r {margin-left: 15px;}
html>body .reg-col-r {*margin-left:0px;}
.register .bbform label {font-style:normal;font-weight: bold;margin-top: 0;margin-bottom: 1px;}
.register .bbform label.sub {margin-left: 0;}
.register .bbform input.textinput {border: 1px solid #e9e8ed;border-top: 1px solid #bbb;height: 20px;margin-bottom: 10px;padding: 5px 0 0 5px;width: 100%;}	
.register .bbform .span-5 label {font-weight: normal;}
.register .bbform label.mood_private_label{margin-top:18px;}
.register .info-sliders label {top:-4px;margin-bottom:0;}
html>body .register .info-sliders label {*top:-2px;}
.register .bbform-header {*margin-top:20px;}
#reg-submit {*margin-top: 138px;}
.register .bbform fieldset legend {margin-bottom: 0px;margin-top:0px;}
.tabs-container {width:930px;}
.settings .tabs-container {width:auto;}
.step-container {
    display:inline-block;
}
/* END registration page fixes */

html>body .mainpub-container .publisher-controls {*margin-left:10px; *width:555px;}
html>body .mainpub-container .select-media-source {*width: 533px;*margin-left: 10px;}
html>body .col-left, html>body .col-right {*padding-top: 12px;}
.media-source, .select-media-source {min-height: 50px;}
.mini p.publisher-media-txt-label {display:inline;position:relative;top:5px;}
.publisher-media-icon {}
.mini .publisher-mediabtn-bg {min-height: 25px;}

#me_container .filters-menu-container {padding-left: 10px;}
#me_container .filters-menu-container ul.filters-menu {margin-left: 0px;}
.pictures-uploader #upload-buttons #create-album button {margin-right: 10px;}
.pictures-uploader #upload-buttons #create-album button, .pictures-uploader #upload-buttons #cancel-create button {padding-left: 11px;}
html>body #pictures-container .pictures-uploader #upload-buttons #create-album button {*padding-left: 2px;*margin-right:0;} 
html>body #pictures-container .pictures-uploader #upload-buttons #create-album button span {*min-width: 80px; *margin-left: -9px; *border-left: 1px solid #8d8d8d;}
html>body #pictures-container .pictures-uploader #upload-buttons #cancel-create button {*padding-left: 2px;}
html>body #pictures-container .pictures-uploader #upload-buttons #cancel-create button span {*border-left:1px solid #8d8d8d; *margin-left: -1px;}
html>body .row-start.album-image {clear: none;}

html>body #notifications-col h3 span.counter span.count {*margin-top:-3px;}
html>body .edit_inp_mid1, .mis_inp_mid2 {*margin-top:-1px;}
html>body ul.settings-menu {*padding-top: 6px;}
html>body form.message-reply button span {display:inline-block;}
html>body form.message-reply button {*min-width:112px;*position:relative; *left: 18px;}

#peopleExplore hr {margin-top:10px;}
textarea#event_description {width:548px !important;margin-top:-2px;}
#preview_event_body hr {margin-top:10px;}

html>body #exp_results .xplr-content-overlay{*width:650px;}
html>body #exp_results .meta-container {*margin-right:10px;}

.info-sliders label span {line-height: 9px!important;}
html>body .info-sliders label span {*min-width:93px;}
html>body .info-sliders label {*top:-2px;}
html>body iframe#jQueryAddress {*width:0; *height:0; *position:absolute; *left:-9999px; *right:-9999px;}
#sliders {letter-spacing: 0px;}
html>body li.slider_container {*margin-bottom:0;}
html>body .info-sliders label {*width: 40px;}
html>body input.btnMessageSelect {*width: 14px; *height: 14px; *line-height:0;}

/* IE6 WARNING BANNER ON REG PAGES */
#ie6 {
	margin: 0;
	padding-top: 30px;
	padding-bottom: 30px;
	width: 100%;
	text-align: center;
	background: #feefda;
	color: #000;
	border-bottom: 10px solid #7b1f00;
	}
	
#ie6 p {
	width: 800px;
	text-align:left;
	margin: 0 auto 15px auto;
	font-size: 20px;
	line-height: 26px;
	}