#vouches {
    background: transparent url("${library.prefix}/images/containers/vouch-left.png") no-repeat top left;
    padding-left: 12px;
    position: relative;
    margin-bottom: 10px;
}

#vouches span.label {
    background: transparent url("${library.prefix}/images/containers/vouch-right.png") no-repeat top right;
    padding-right: 12px;
    display: block;
    line-height: 28px;
    height: 28px;
}

.vouches-number {
    background: transparent url("${library.prefix}/images/containers/vouch-number-left.png") no-repeat top left;
    padding-left: 9px;
    position: relative;
    margin-bottom: 10px;
    float: left;
    margin: 5px 5px 0 -7px;
}

.vouches-number span.count {
    background: transparent url("${library.prefix}/images/containers/vouch-number-right.png") no-repeat top right;
    padding-right: 9px;
    display: block;
    line-height: 18px;
    height: 18px;
    font-weight: bold;
}

#profile-progress {
    background: transparent url("${library.prefix}/images/containers/profile-progress-bg.png") no-repeat;
    width: 230px;
    height: 28px;
    margin-bottom: 10px;
    position: relative;
}

#profile-progress-fg {
    background: transparent url("${library.prefix}/images/containers/profile-progress-fg.png") no-repeat;
    width: 180px;
    height: 28px;
}

#profile-progress span {
    display: block;
    position: absolute;
    width: 100%;
    text-align: center;
    height: 28px;
    line-height: 28px;
    color: #003d60;
    font-weight: bold;
}

