<div class="topperbg">
  <div id="head">
    <div class="wrap">
      <p class="logo"><a href="http://www.blackboxrepublic.com"><%= image_tag "blackbox-republic-logo.png", :alt => "BlackBox Republic Logo" %></a></p>
      <p class="contact"><a href="mailto:info@blackboxrepublic.com" title="Contact Blackbox Republic">Fire us an email <span>&#8594;</span></a></p>
      <div class="clear"></div>
    </div>
  </div>

  <div id="content" class="content_press">
  	<div class="wrap">
	  	<div id="press">
	  		<h1>Blackbox Republic Press Page</h1>
	
			<p>PRESS</p>
	  	</div>
	  </div>
    
  </div>
</div>

<div class="people press_people"></div>
<div id="team">
  <div id="about">

    <div id="foot">
      <div class="wrap">
        <p class="l">Blackbox Republic &copy; 2009. All rights reserved.</p>
        <div class="clear"></div>
      </div>
    </div>

  </div>
</div>
