Hey $recipient_name,

You've got new mail waiting in the Republic. Seriously! Fo reals.

Login now to see if $sender_username has anything interesting to say.
If not, maybe you can send them something that makes them laugh so hard milk splurts out their nose.

$presentation_url
