#parse("/velocity/html-email-header.vm")

Hey $user_name,<br /><br />

We got your Blackbox Republic password request. No problem!<br /><br />

Your new password is: $user_password<br /><br />

Please log in with this new password and change your password immediately.
To change your password, click your username at the top right of the home page, then click &quot;Account Settings.&quot;<br /><br />

Snuggles,<br />
Blackbox Republic Angels

#parse('/velocity/html-email-footer.vm')