Don't look now $recipient_name but $requesting_username is totally following you.
No, fo reals. They're all, " $recipient_name is interesting."
And you're all, "hey! someone is following me again, I must be interesting."
And then they're all, "ummmmmm, yeah! You ARE interesting."

Well anyway, you get it,  $recipient_name. The question is, what are you going to do about it? Follow back? Hmm.
Login now to have a look at their persona and follow them back if you’re a just little intrigued. Whoop whoop!

$presentation_url
