What?!,

Ok, $recipient_name, this just in: $requesting_username wants to be your friend.
If you two agree it means that you're cool disclosing your real name to each other.
It also means that when you post content just to "Friends" that $requesting_username will see those posts.

So. Whatcha think? Login now and click on your messages tab to check them out and see if you want to accept. Wheeee!

$presentation_url