Hi $name,

Is this cool or what? $gifting_username made you a present.

It's waiting for you to accept so that you can add it to your gift shelf. So put on your decorating shoes (is there such a thing?) and go see what goodie is waiting for you.

Login, open carefully and enjoy the day...$gifting_username thinks you're pretty special. :)

$presentation_url
