#parse("/velocity/html-email-header.vm")
Hey $recipient_name, $requesting_username says they're in a relationship with you!  True? False? Login now and click on your messages tab to approve or ignore their request.<br /><br />

If you approve it, the relationship will show up only on their persona page. If you want to reciprocate, you can add a relationship on your own persona, using any relationship definition you like.<br /><br />

OMG! This is like passing notes in class. Me likey!
#parse("/velocity/html-email-footer.vm")
