Damn, $name!

$voucher_username just put their name on the line for you and used one of their limited number of vouches to tell the Republic you're someone who can be trusted.

Login now to say thanks and, if this is your first vouch, check out everything you can see now as a vouched user, including photos and expanded personas. Shazam!

$presentation_url
