We have good news. $wishing_username has wished you, $name!

We won't tell, but how exciting! That means that $wishing_username is interested in you. What that means is up to the two of you. I mean, sheesh, do you want us to do ALL the work? ;)

Login, check out their persona and find out for yourself!

$presentation_url